name: iptv收集合併濾重及確認有效性

on:
  schedule:
    - cron: '10 23 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Fix DNS
        run: |
          sudo sed -i '1inameserver 8.8.8.8' /etc/resolv.conf
          sudo sed -i '2inameserver 1.1.1.1' /etc/resolv.conf
          echo "DNS fixed"

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.x

      - name: Upgrade pip and install dependencies
        run: |
          pip install --upgrade pip
          pip install selenium webdriver-manager requests futures eventlet opencv-python Beautifulsoup4 translate termcolor func_timeout replace input opencc pypinyin pytz tqdm
          pip install -r requirements.txt

      - name: Git config
        run: |
          git config --global user.name "WaykeYu"
          git config --global user.email "waykeyu@example.com"

      - name: Run net-collect
        run: python py/net-collect.py

      - name: Run collect
        run: python py/collect.py
    
      - name: Run integ
        run: python py/integ.py

      - name: Update README
        run: |
          echo -e "過濾重覆及有效性自動檢測IPTV $(date +'%Y-%m-%d %H:%M:%S CST')\n" > README.md

      - name: Commit and push changes
        run: |
          git config --local user.email "actions@126.com"
          git config --local user.name "GitHub Action"
          git add .
          git commit --allow-empty -m "Scheduled workflow run"
          git pull --rebase
          git push -f
